name: Deploy Picare Backend

on:
  push:
    branches:
      - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/git/Picare-Misa-Backend
            git pull origin prod
            docker compose up -d --build --remove-orphans
            docker image prune -f
            docker exec nginx-proxy nginx -s reload